div(class='module' style='width: 100%')
  table(style='width: 100%')
    caption Management
    tbody
      tr
        th(scope='row')
          a(href="/admin/ninetofiver/leave/?status__exact=pending") Pending leaves
      tr
        th(scope='row')
          a(href="/admin/ninetofiver/timesheet/?status__exact=pending") Pending timesheets
