div(class='module' style='width: 100%')
  table(style='width: 100%')
    caption Management
    tbody
      if perms.ninetofiver.change_leave
        tr
          th(scope='row')
            a(href="/admin/ninetofiver/leave/?status__exact=pending") Pending leave
      //- tr
      //-   th(scope='row')
      //-     a(href="/admin/ninetofiver/timesheet/?status__exact=pending") Pending timesheets
      tr
        th(scope='row')
          a(href="{% url 'admin_report_index' %}") Reports
      tr
        th(scope='row')
          a(href="{% url 'explorer_index' %}") Experimental report playground