astroid==2.1.0
autopep8==1.4.3
Babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
coreapi==2.3.1
coreschema==0.0.4
defusedxml==0.5.0
diff-match-patch==20181111
dj-static==0.0.6
Django==1.11.15
django-admin-list-filter-dropdown==1.0.0
django-admin-rangefilter==0.2.1
django-admin-select2==1.0.1
django-admin-sortable==2.1.14
django-app-namespace-template-loader==0.4.1
django-auth-ldap==1.2.8
django-braces==1.13.0
django-configurations==2.0
django-cors-headers==1.3.0
django-countries==5.1.1
django-crispy-forms==1.6.1
django-dirtyfields==1.3.1
django-downloadview==1.9
django-filter==2.1.0
django-gravatar2==1.4.0
django-ical==1.5
django-import-export==1.2.0
django-logentry-admin==1.0.4
django-model-utils==2.6
django-oauth-toolkit==0.10.0
django-phonenumber-field==2.2.0
django-polymorphic==1.3
django-registration==2.1.2
django-rest-assured==0.2.0
django-rest-framework==0.1.0
django-rest-swagger==2.0.7
django-settings-export==1.2.1
django-silk==3.0.1
django-sql-explorer==1.1.2
django-tables2==2.0.5
django-wkhtmltopdf==3.2.0
djangorestframework==3.7.7
djangorestframework-filters==0.10.2
et-xmlfile==1.0.1
factory-boy==2.8.1
Faker==0.7.3
filelock==3.0.10
gprof2dot==2016.10.13
gunicorn==19.9.0
humanize==0.5.1
icalendar==4.0.3
idna==2.8
isort==4.3.9
itypes==1.1.0
jdcal==1.4
Jinja2==2.10
lazy-object-proxy==1.3.1
markdown2==2.3.7
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==1.3.13
oauthlib==1.0.3
odfpy==1.4.0
openapi-codec==1.3.2
openpyxl==2.6.0
phonenumberslite==8.10.6
pluggy==0.9.0
pudb==2018.1
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.5.0
Pygments==2.3.1
pyldap==3.0.0.post1
pylint==2.2.2
pypugjs==5.7.2
python-dateutil==2.8.0
python-ldap==3.1.0
python-redmine==2.0.2
pytz==2018.3
PyYAML==3.12
requests==2.21.0
simplejson==3.16.0
six==1.12.0
sqlparse==0.2.4
static3==0.7.0
tablib==0.12.1
toml==0.10.0
tox==3.7.0
typed-ast==1.3.1
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.24.1
urwid==2.0.1
virtualenv==16.4.1
wrapt==1.11.1
xlrd==1.2.0
xlwt==1.3.0
