extends ninetofiver/emails/mail_generic.pug

block content
    p Dear {{ user }},
    p You have {{ timesheet_count }} active timesheet{{ timesheet_count|pluralize:"s" }} due for submission.
        | <br>
        | Please ensure all of your due timesheets are filled in correctly and submit them for review.
        | <br>
        | More details can be found below.

    table(style="
        border-collapse: collapse;
    ")
        thead
            tr
                th(style="
                    color: #666;
                    background: #f6f6f6;
                    text-transform: uppercase;
                    border-top: 1px solid #eee;
                    border-bottom: 1px solid #eee;
                    padding: 5px 10px;
                    text-align: left;
                ") Timesheet
                th(style="
                    color: #666;
                    background: #f6f6f6;
                    text-transform: uppercase;
                    border-top: 1px solid #eee;
                    border-bottom: 1px solid #eee;
                    padding: 5px 10px;
                    text-align: left;
                ") Status

        tbody
            for timesheet in timesheets
                tr(style="
                    background: {% cycle '#ffffff' '#f9f9f9' %};
                ")
                    td(style="
                        border-bottom: 1px solid #eee;
                        padding: 8px;
                        vertical-align: top;
                    ") {{ timesheet }}
                    td(style="
                        border-bottom: 1px solid #eee;
                        padding: 8px;
                        vertical-align: top;
                    ") {{ timesheet.status }}
