extends ninetofiver/emails/mail_base.pug

block body
    div(style="
        font-family: sans-serif;
        font-size: 12px;
    ")
        block content
    
        p Cheers,
            | <br><br>
            | Your Friendly Neighbourhood 925r Bot
