{% extends "admin:admin/index.html" %}

{% block sidebar %}
{{ block.super }}
div
  table(style="width:100%")
    caption(style="
              font-size:12px;
              letter-spacing:.5px;
              text-transform:uppercase;
              margin:0;
              padding:8px;
              font-weight:400;
              text-align:left;
              background:#79aec8;
              color:#fff;")
      a(href="/admin/", style="color:#fff") Management
    tbody
      tr
        th(scope="row")
          a(href="/admin/ninetofiver/leave/?status__exact=PENDING") Pending leaves
{% endblock %}