extends ninetofiver/base/page.pug
- load static

block content
  div(class='alert alert-info text-center')
    | {{ leaves | length }} leave{{ leaves | length | pluralize:'s' }} {{ leaves | length | pluralize:'has,have' }} been rejected.
    | You may close this window.
