extends ninetofiver/account/page.pug
-load gravatar

block title
  | Your account

block content_main
  div(class='row')
    div(class='col-sm-3')
      img(
        class='img-thumbnail img-fluid'
        src='{% gravatar_url request.user.email 250 %}'
      )
    div(class='col-sm-9')
      dl(class='row')
        dt(class='col-sm-3') Username
        dd(class='col-sm-9') {{ request.user.username }}

        dt(class='col-sm-3') Date joined
        dd(class='col-sm-9') {{ request.user.date_joined | date:'r' }}
