extends ninetofiver/base/page.pug
- load static

block content
  .container
    h1 Contracts
    hr
    br
    table.table-bordered.table-striped(style='width:100%')
      thead
        tr
          td
            strong Contract
          td
            strong Customer
          td
            strong Ends at
          td
            strong Link to admin
      tbody
      {% for contract in contracts %}
      tr
        td {{ contract }} 
        td {{ contract.customer }}
        {% if contract.ends_at|date:"Y-m-d" == today|date:"Y-m-d" %}
        td.bg-warning {{ contract.ends_at }}
        {% else %}
        td {{ contract.ends_at }}
        {% endif %}
        td 
          a(href='{% url "admin:ninetofiver_contract_change" contract.id %}') link
      {% endfor %}