extends ninetofiver/base/base.pug

block body
  div(class='container')
    div(class='my-3')

    include ninetofiver/base/navigation.pug

    div(class='my-3')

    div(class='content')
      block content
