extends ninetofiver/base/base.pug
- load static

block body
  div(class='container')
    div(class='row justify-content-center')
      div(class='col-lg-4 col-md-6 col-sm-8')
        div(class='my-4')
        div(class='card')
          a(href='{% url "home" %}')
            img(class='card-img-top img-fluid px-4 py-4' src='{% static "ninetofiver/img/logo_text.svg" %}')
          div(class='card-body')
            h4(class='card-title')
              block title
            block content
