extends ninetofiver/authentication/page.jade

block title
  | {{ title }}

block content
  p Your password has been set successfully. You can now log in.
  a(class='btn btn-outline-primary' href='{% url "login" %}') Log in
