extends ninetofiver/authentication/page.pug

block title
  | Registration closed

block content
  p Sorry, but registrations are closed for the time being.
  a(class='btn btn-outline-primary' href='{% url "home" %}') Continue
