extends ninetofiver/base/page.pug
- load static

block content
  div(class='jumbotron')
    h1(class='display-3 text-center')
      img(class='img-fluid mx-auto' src='{% static "ninetofiver/img/logo_text.svg" %}')
    p(class='lead text-center') Open time tracking.
