extends ninetofiver/base/page.jade
- load static

block content
  div(class='jumbotron')
    h1(class='display-3 text-xs-center')
      img(class='img-fluid m-x-auto' src='{% static "ninetofiver/img/logo_text.svg" %}')
    p(class='lead text-xs-center') Open time tracking.
