- load format_duration

div
    table(class='table table-m table-striped my-0')
        thead
            tr
                th Role
                th Estimated
                th Performed
                th Ratio
        tbody
            for contract_role_data in record.contract_roles
                tr
                    td {{ contract_role_data.contract_role }}
                    td(class='text-nowrap') {{ contract_role_data.estimated_hours | format_duration }}
                    td(class='text-nowrap') {{ contract_role_data.performed_hours | format_duration }}
                    td
                        if contract_role_data.performed_pct is not None
                            - include 'ninetofiver/admin/reports/progress_bar.html' with value=contract_role_data.performed_pct
                        else
                            | n/a

            tr
                th Total
                td(class='text-nowrap') {{ record.estimated_hours | format_duration }}
                td(class='text-nowrap') {{ record.performed_hours | format_duration }}
                td
                    if record.performed_pct is not None
                        - include 'ninetofiver/admin/reports/progress_bar.html' with value=record.performed_pct
                    else
                        | n/a
